@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova"),
    url("/fonts/Proxima-Nova-Alt-Extra-Condensed-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"),
    url("/fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),
    url("/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova Light"),
    url("/fonts/Proxima-Nova-Condensed-Light.otf") format("opentype");
}

$font-primary: "Proxima Nova";

.list-activity {
  p {
    font-family: $font-primary;
    height: 18px;
  }
  span {
    font-family: $font-primary;
    height: 18px;
  }
  div {
    font-family: $font-primary;
  }
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
}

.ledStatusColor {
  top: -16px;
  left: 50px;
  border: 1px solid white;
}
